<!DOCTYPE >
<html>
    <head>
        
        <title>
            Lulu and Huhu's Birthday Extravaganza
        </title>

        <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>
        <link rel="stylesheet" href="/static/css/jquery.prompt.css"/>
        
        {% block js %}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/static/js/jquery.prompt.js"></script>
        <script type="text/javascript" src="/static/js/raphael.min.js"></script>
        <script src="/static/js/raphaeljs-infobox.js"></script>
        <script type="text/javascript" src="/static/js/canvas.js"></script>
        <script type="text/javascript" src="/static/js/interaction.js"></script>
        {% endblock %}
    </head>
    <body>
        <div id="gameCanvas" /> 
    </body>
</html>