<!DOCTYPE >
<html>
    <head>
        <!-- css and javascript template should be here -->
        <title>
            {% block title %}
            {% endblock %}
        </title>
        {% block js %}
        <link rel="stylesheet" href="/static/css/jquery.prompt.css"/>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/static/js/jquery.prompt.js"></script>
        <script type="text/javascript" src="/static/js/raphael.min.js"></script>
        <script type="text/javascript" src="/static/js/canvas.js"></script>
        <script type="text/javascript" src="/static/js/interaction.js"></script>
        {% endblock %}
    </head>
    <body>
    <center>
        <div id="gameCanvas" />
        <div id="dialog" />
    </center>
        </canvas>
    </body>
</html>